@use "./variables";

.about {
    background-color: variables.$about;
      
    .about-container {
        
        h2 {
            color: variables.$h2purple;
            margin-top: 0;
            padding-top: 3rem;
        }

        .about-flex {
            display: flex;
            padding-bottom: 3rem;
            
            img.rounded {
                height: 350px;
                width: 350px;
                border-radius: 20%;
                object-fit: fill;
                border: 5px solid variables.$img-border;
                margin-right: 4rem;
                margin-top: 1.25rem;
            }

            p {
                color: variables.$body;
                text-align: left;
            }
        }

    }
}