@use "./variables";

.about {
    background-color: variables.$about;
      
    .about-container {
        
        h2 {
            color: variables.$h2purple;
            margin-top: 0;
            margin-left: 1rem;
            padding-top: 3rem;
        }

        .about-flex {
            display: flex;
            padding-bottom: 3rem;
            
            img {
                height: 350px;
                width: 350px;
                object-fit: fill;
                border: 5px solid variables.$img-border;
                margin-left: 4rem;
                margin-top: 1.5rem;
                border-top-left-radius: 50% 30%;
                border-top-right-radius: 50% 30%;
            }

            ul {
                li {
                    color: variables.$body;
                    text-align: left;
                    line-height: 8mm;
    
                    a {
                        color: variables.$body;
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}