@use "./variables";

.contact {
    background-color: variables.$contact;

    h2 {
        margin-top: 4rem;
    }
    .form {
        margin-bottom: 3rem;

        .submit-message {

            p span {
                font-style: italic;
            }

            border: 5px solid pink;
    
            input, textarea {
                border: 2px solid lavender;
            }

            input {
                margin-bottom: 15px;
                padding: 10px 20px;
                width: 45%;
                margin-left: 1.3rem;

            }
            
            input[type=email]{
                width: 80%;
                margin-left: 4rem;
            }

            textarea {
                width: 90%;
                padding: 15px 20px;
                margin-left: 2.1rem;
                margin-bottom: 2rem;
            }
            button {
                width: 50%;
                margin-left: 10rem;
                margin-bottom: 2rem;
            }
        }
    }
}