@use "./variables";

footer {
    padding: .5rem 0;
    p {
        font-family: variables.$title-font;
        color: variables.$accent;
        text-shadow: 1px 1px 1px variables.$h2purple;
        letter-spacing: 1px;
        padding: 15px 0;
        margin: 5px;
        text-align: center;
    }
}