@use "./variables";

html {
    font-size: 125%;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: sans-serif;
    // text-transform: uppercase;
    // font-family: variables.$heading-font;
}

img {
    max-width: 100%;
}

nav,
p {
    font-family: sans-serif;
}

p {
    font-size: 400;
    text-align: center;
}

li {
    list-style: none;
}

fieldset,
input,
textarea {
    border: none;
    background-color: transparent;
}

footer {
    // background-color: variables.$primary;
    // color: variables.$secondary;
    font-family: 'Roboto';
    font-weight: 400;

    p {
        padding: 15px 0;
        text-align: center;
    }
}

// CLASSES

.wrapper {
    width: 60%;
    margin: 0 auto;
    max-width: 1901px;
}


.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

// SET FONT SIZES!

// HEADINGS:
// h1: 79px;
// h2: 45px;
// h3: 40px;
// h4: 25px;

// OTHER TEXT:
// button: 22.4px;
// nav: 29px;
// body text: 20px;

button {
    color: variables.$button;
    text-transform: uppercase;
    background-color: variables.$skills;
    padding: 10px 15px;
    border: 2px solid variables.$skills;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: variables.$footer;
        color: variables.$contact;
    }

    &:focus {
        background-color: variables.$footer;
        color: variables.$contact;
    }
}