@use "./variables";

header {
    background-color: variables.$header;
    background-image: url('/assets/cannabis-background.jpg');
    opacity: 0.6;
    box-shadow: inset 0 0 0 1000px rgba(139,139,174, 0.85);
    height: 90vh;

    .hamburger {
        display: none;
    }

    .nav-bar-flex {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        ul {
            display: flex;
            li {
                font-size: 1rem;
                padding: 20px;
                margin-top: 1rem;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
            }
            
            li a {
                color: variables.$nav-links2; 
                font-weight: 600;

                &:hover {
                    border-bottom: 2px solid variables.$nav-links2;

                }
            }
        }
    }

    .header-text-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
  
        h1 {
            color: variables.$h1;
            text-shadow: 2px 2px 2px variables.$h2purple;
        }
        h1, p {
            text-align: center;
        }
        p {
            color: variables.$accent;
            font-style: italic;
            font-weight: 600;
            letter-spacing: 1mm;
        }

        // scroll down button styles
        .scroll-down {
            position: absolute;
            bottom: 10%;
            left: 50%;
            font-size: 60px;
            animation: 3s infinite ease-in-out pulse;
            &:hover {
                cursor: pointer;
                color: rgba(variables.$nav-links2, 0.8);
                transition: 0.4s;
            }
        }
        
        // button {
        //     font-family: variables.$body-font;
        //     margin-top: 2rem;
        //     border-radius: 10px;

        //     a {
        //         color: variables.$h1;
        //         &:hover, &:focus {
        //             color: variables.$h2blue;
        //         }
        //     }

        //     &:hover, &:focus {
        //         background-color: variables.$contact-border;
        //         border: 2px solid variables.$contact-border;
        //     }

        // }
    }

}