@use "./variables";

header {
    background-color: variables.$header;
    height: 65vh;

    .hamburger {
        display: none;
    }

    .nav-bar-flex {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        ul {
            display: flex;
            li {
                font-size: 1rem;
                padding: 20px;
                margin-top: 1rem;
                margin-left: 2.5rem;
                margin-right: 2.5rem;
            }
            
            li a {
                color: variables.$nav-links; 
                text-decoration: none;

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }

    .header-text-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        h1 {
            color: variables.$h1;
        }
        h1, p {
            text-align: center;
        }
        p {
            color: variables.$accent;
            font-style: italic;
            font-weight: 600;
            letter-spacing: 1mm;
        }
        button {
            font-family: variables.$body-font;
            margin-top: 2rem;

            a {
                color: variables.$h1;
                &:hover, &:focus {
                    color: variables.$h2blue;
                }
            }

            &:hover, &:focus {
                background-color: variables.$contact-border;
                border: 2px solid variables.$contact-border;
            }

        }
    }

}