@use "./variables";

@media (max-width: 1601px) {
    /* HEADER */
    header {
        height: 90vh;

        nav {
            button {
                margin-top: 1.5rem;
            }
        }
    }

    /* MAIN */
    main {
        .about {
            .about-container {
                .about-flex {
                    img.rounded{
                        margin-top: 3.5rem;
                    }
                }
            }
        }

        .projects {
            .wrapper {
                width: 90%;
            }
            .project-container {
                justify-content: center;
                
                .project-box{
                    flex-basis: 40%;
                }
            }
        }
    }
}

@media (max-width: 1401px) {
    .wrapper {
        width: 60%;
    }

    /* HEADER & NAV */
    header {
        button {
            margin-top: 1.5rem;
        }
    } /* END header */

    /* MAIN */
    main {
        .about {
            .wrapper {
                width: 75%;
            }

            .about-container {
                .about-flex {
                    img.rounded {
                    margin-right: 4rem;
                    margin-top: 3rem;
                    }
                }

            }
        }
    
        /* SKILLS */
        .skills {
            .wrapper {
                width: 90%;
            }

            h2 {
                margin-top: 3rem;
            }
            
            ul {
                width: 90%;
            }
        }

        /* PROJECT */
        .projects {
            .wrapper {
                width: 85%;
            }
            .project-container {
                .project-box {
                    .project-content {
                        .button-box {
                            margin-left: 1rem;
                            button {
                                width: 50%;
                            }
                        }

                    }
                }
            }
        }

        /* CONTACT */
        .contact {
            h2 {
                margin-top: 5rem;
            }
        } 
    } /* END main */
}

@media (max-width: 1315px) {
    /* MAIN */
    main {
        .projects {
            .project-box {
                h3 {
                 margin: .5rem;
                }
            }
        }
    }
}

/* TABLET */
@media (max-width: 1100px) {

    /* MAIN */
    main {
        .projects {
            .project-container {
                .project-box {
                    h3 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    footer {
        .footer-container {
            button {
                width: 40%;
            }
        }
    }

}

@media (max-width: 1096px) {
    header {
        height: 95vh;
    }

    main {
        .about {
            .about-container {
                .about-flex {
                    flex-direction: column;
                    
                    img {
                        margin: auto;
                        height: 400px;
                        width: 300px;
                        margin-bottom: 2rem;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        .skills {
            .skills-container {
                .tech-stack {
                    ul {
                        width: 100%;
                    }
                }
            }
        }

        .projects {
            .project-container {
                .project-box {
                    height: 27rem;

                    h3 {
                        font-size: 1rem;
                        text-align: center;
                    }
                    h4 {
                        text-align: center;
                    }
                    p {
                        font-size: .65rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 963px) {
    /* MAIN */
    main {

        .projects {
            button {
                font-size: .75rem;
            }
        }
    }
}

@media (max-width: 901px) {
    main {
        .projects {
            .project-container {
                flex-direction: column;
                margin: auto;
                
                .project-box {
                    height: 40rem;
                    flex-wrap: nowrap;
                }
            }
        }
    }
}

/* MOBILE */
@media (max-width: 801px) {
    /* HEADER */
    header {
        nav {
            justify-content: flex-start;

            .nav-bar-flex {
                position: fixed;
                top: -200%;
                z-index: 9;
                flex-direction: column;
                justify-content: center;
                color: variables.$nav-links2;
                background-color: variables.$header;
                width: 100%;
                font-size: 1.5rem;
                text-align: center;
                transition: 0.6s;
                margin-top: 0;

                li {
                        margin: 3rem;
                        padding: 10px;
                }
            }

            .nav-bar-flex.active {
                top: 0;
            }

            
            .hamburger {
                display: block;
                position: fixed;
                padding-bottom: 3rem;
                margin-left: 1rem;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        
            h2 {
                margin-top: 2rem;
            }

        }
    }

    /* MAIN */
    main {
        .about {
            .about-container {
                h2 {
                    padding-top: 5rem;
                    padding-bottom: 1rem;
                }
                .about-flex {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img.rounded{
                        margin: 0 0 1rem 0;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        .projects {
            .wrapper {
                width: 90%;
            }

            .project-container {
                justify-content: center;
                .project-box {
                    flex-basis: 70%;
                    width: 25rem;
        
                }
            }
        }
    }
}

@media (max-width: 701px) {
    .skills {
        .skills-container {
            .tech-stack {
                ul {
                    
                }
            }
        }
    }
}

@media (max-width: 651px) {
    /* NAV */

    #to-top {
        width: 40px;
        height: 40px;
        right: 10px;
    }
}

@media (max-width: 591px) {
    main {
        .projects {
            .wrapper {
                width: 80%;
            }
            .project-container {
                .project-box {
                    width: 20rem;
                    height: 30rem;
                }
            }
        }
    }

    footer {
        .footer-container {
            p {
                font-size: .99rem;
            }
            button {
                width: 50%;
            }
        }
    }
}

@media (max-width: 451px) {
    /* NAV */
    .header-text-flex {
        width: 80%;
        margin-top: 5rem;

        p {
            font-size: 1rem;
        }
    }

    /* MAIN */
    main {
        .about {
            .about-container {
                .about-flex {
                    img.rounded {
                        object-fit: cover;
                    }

                }

            }
        }
        .projects {
            .wrapper {
                width: 90%;
            }
            .project-container {
                flex-wrap: nowrap;
                flex-basis: 0%;
                .project-box {
                    width: 16rem;
                    // margin-left: .65rem;
                }
            }
        }
    }
    
}