@use "./variables";

@media (max-width: 1601px) {
    /* HEADER */
    header {
        nav {
            button {
                margin-top: 1.5rem;
            }
        }
    }

    /* MAIN */
    main {
        .about {
            .about-container {
                .about-flex {
                    img.rounded{
                        margin-top: 3.5rem;
                    }
                }
            }
        }

        .projects {
            .wrapper {
                width: 90%;
            }
            .project-container {
                justify-content: center;
                
                .project-box{
                    flex-basis: 40%;
                }
            }
        }
    }
}

@media (max-width: 1401px) {
    .wrapper {
        width: 60%;
    }
    
    /* MAIN */
    main {
        .about {
            .wrapper {
                width: 75%;
            }

            .about-container {
                .about-flex {
                    img.rounded {
                    margin-right: 4rem;
                    margin-top: 3rem;
                    }
                }

            }
        }
    
        /* SKILLS */
        .skills {
            .wrapper {
                width: 90%;
            }

            h2 {
                margin-top: 3rem;
            }
            
            ul {
                width: 90%;
            }
        }

        /* PROJECT */
        .projects {
            .wrapper {
                width: 85%;
            }
            .project-container {
                .project-box {
                    .project-content {
                        .button-box {
                            margin-left: 1rem;
                            button {
                                width: 50%;
                            }
                        }

                    }
                }
            }
        }

        /* CONTACT */
        .contact {
            h2 {
                margin-top: 5rem;
            }
        } 
    } /* END main */
}

/* TABLET */
@media (max-width: 1096px) {
    main {
        .about {
            .about-container {
                .about-flex {
                    flex-direction: column;
                    
                    img {
                        margin: auto;
                        height: 400px;
                        width: 300px;
                        margin-bottom: 2rem;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        .skills {
            .skills-container {
                .tech-stack {
                    ul {
                        width: 100%;
                    }
                }
            }
        }

        .projects {
            .project-container {
                .project-box {
                    height: 27rem;

                    h3 {
                        font-size: 1rem;
                        text-align: center;
                    }
                    h4 {
                        text-align: center;
                    }
                    p {
                        font-size: .65rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 901px) {
    main {
        .projects {
            .project-container {
                flex-direction: column;
                margin: auto;
                
                .project-box {
                    height: 40rem;
                    flex-wrap: nowrap;
                }
            }
        }
    }
}

/* MOBILE */
@media (max-width: 801px) {
    /* HEADER */
    header { 
        h2 {
            margin-top: 2rem;
        }
    }

    /* MAIN */
    main {
        .about {
            .about-container {
                h2 {
                    // padding-top: 5rem;
                    // padding-bottom: 1rem;
                }
                .about-flex {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img.rounded{
                        margin: 0 0 1rem 0;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        .skills {
            .skills-container {
            }
        }

        .projects {
            .wrapper {
                width: 90%;
            }

            .project-container {
                justify-content: center;
                .project-box {
                    flex-basis: 70%;
                    width: 25rem;
        
                }
            }
        }
    }
}

@media (max-width: 551px) {
    /* NAV */
    .header-text-flex {
        width: 80%;
        margin-top: 5rem;

        p {
            font-size: 3rem;
            margin-top: 10px;
            padding-bottom: 20px;
        }
    }

    /* MAIN */
    main {
        .about {
            padding-top: 1rem;
            
            .wrapper {
                width: 80%;
            }

            .about-container {
                h2 {
                    margin: 1rem;
                    font-size: 2rem;
                    padding-top: 1rem;
                    padding-bottom: 0;
                }
                .about-flex {
                    flex-direction: column-reverse; 
                    padding-bottom: 0;
                    img {
                        height: 70%;
                        width: 70%;
                        margin-bottom: .75rem;
                    }
                    ul {
                        padding: 10px 30px 10px 30px;
                        margin-top: 0;

                        li {
                            font-size: 14px;
                            padding-bottom: 5px;
                        }
                    }
                }

            }
        }
        .skills {
            .wrapper{
                width: 80%;
            }
            .skills-container {
                padding-top: 0;
                padding-bottom: 2rem;
                h2 {
                    font-size: 2rem;
                    margin: 1rem 0 1rem 1.5rem;
                    padding: 0;
                }
                ul {
                    margin: 0 0 1.5rem 0;
                    li {
                        font-size: 14px;
                        padding-bottom: 5px;
                    }
                }
                
                .tech-stack {
                    h3 {
                        font-size: 1rem;
                        margin: 10px;
                    }
                    ul {
                        margin-bottom: 0;
                        li {
                            i {
                                font-size: 1.5rem;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
        .projects {
            .wrapper {
                width: 80%;
            }

            h2 {
                font-size: 2rem;
                margin: 1rem;
            }
            .project-container {
                flex-wrap: nowrap;
                flex-basis: 0%;

                .project-box {
                    width: 15rem;

                    .project-content {
                        h3, h4, p {
                            text-align: left;
                        }
                        h4, p { 
                            padding: 0 10px;
                        }

                        .button-box {
                            margin: 10px 0 10px 0;
                            button {
                                margin: 5px;
                                padding: 5px;
                                a { 
                                    font-size: 16px;
                                }
                            }

                        }
                    }
                }
            }
        }

        .contact {
            .wrapper{
                width: 80%;
            }
                h2 {
                    font-size: 24px;
                    margin: 10px;
                    padding: 0;
                }
            .contact-container {
                a {
                    margin: 10px;
                    i {
                        font-size: 1.5rem;
                    }
                }   
            }
        }
    }
    
    footer {
        p {
            font-size: 14px;
            
        }
    }
    
}