@use "./variables";

.projects {
    background-color: variables.$projects;   

    h2 {
        color: variables.$h2blue;
        margin-top: 4rem;
    }

    .project-container {
            margin-top: 2rem;
            margin-bottom: 5rem;
            display: flex;
            flex-wrap: wrap;
        }
    
        .project-box {
            background-color: #c5a3d0;
            height: 30rem;
            flex-basis: 46%;
            width: 25rem;
            margin: 1rem;

            h3, p {
                color: variables.$body;
            }
            h4 {
                color: variables.$nav-links;
            }

            img {
                height: 200px;
                width: 800px;
                object-fit: cover;
            }

            .project-content {
                display: flex-column;
                margin: 1rem;
                
                h3, h4, p {
                    text-align: left;
                }

                h4 {
                    font-size: .75rem;
                }
                
                p {
                    font-size: .75rem;
                }
                .button-box {
                    margin-top: 1rem;
                    justify-content: flex-start;

                    button {
                        width: 30%;
                        margin-right: 1rem;
                        font-family: variables.$title-font;

                        a {
                            color: variables.$h1;
                        }
                    }
                }

            }
        }
}