@use "./variables";

.projects {
    overflow: hidden;
    background-color: variables.$projects;

    h2 {
        color: variables.$h2blue;
        margin-top: 4rem;
    }

    .project-container {
            margin-top: 2rem;
            margin-bottom: 5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .project-box {
            background-color: #c5a3d0;
            flex-basis: 46%;
            width: 20rem;
            margin: 1rem;

            h3, p {
                color: variables.$body;
                text-align: center;
            }

            h3 {
                margin: 1rem 0 1rem 0;
            }

            h4 {
                color: variables.$nav-links;
                text-align: center;
                margin: 0;
            }

            p {
                padding: 0 50px;
            }

            a {
                font-weight: bold;
                color: variables.$nav-links2
            }

            .project-content {
                display: flex-column;
                justify-content: space-between;
                margin: .5rem;

                h4 {
                    font-size: .75rem;
                }
                
                p {
                    font-size: .75rem;
                }
                .button-box {
                    margin-top: 1rem;
                    justify-content: center;
                    // align-items: baseline;

                    button {
                        width: 30%;
                        margin-right: 1rem;
                        font-family: variables.$title-font;

                        a {
                            color: variables.$h1;
                        }
                    }
                }

            }
        }
}