@use "./variables";

.skills {
    background-color: variables.$skills;

    .skills-container {
        padding-top: 2rem;
        padding-bottom: 3rem;

        h2 {
            color: variables.$h2green;
            margin-bottom: 2rem;
        }
        
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 75%;
            margin: auto;
            padding: 0;
                
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                min-width: 125px;
                padding: 25px;
    
                i {
                    font-size: 4rem;
                    color: #f9fbf2;
                    padding-bottom: .5rem;

                    &:hover {
                        font-size: 4.5rem;
                        transition: 0.4s;
                        transform: scale(1.2);
                        color: #adb88a;
                    }
                }
            
                p {
                    color: #f9fbf2;
                    display: block;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    font-size: .75rem;
                    margin: .5rem;
                    text-align: justify;
                }
            }
        }

    }

}