@use "./variables";

.skills {
    background-color: variables.$skills;

    h2 {
        margin-top: 3rem;
    }

    .skills-container {
        // margin: 3rem;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        width: 100%;
        
        .icons {
            font-size: 3rem;
            color: white;
            display: flex-column;
            width: 5rem;
        }

        span {
            color: white;
            display: block;
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: .5rem;
            font-weight: 600;
            margin: .5rem;
            text-align: justify;
        }
    }
}