@use "./variables";

.skills {
    margin-bottom: 2rem;

    .wrapper{
        background-color: variables.$skills;
    }

    .skills-container {
        padding-top: 2rem;
        padding-bottom: 3rem;

        h2 {
            color: variables.$h2green;
            margin-bottom: 2rem;
            margin-left: 2rem;
        }
        ul {
            margin-bottom: 2rem;
            li {
                color: variables.$body;
                text-align: left;
                line-height: 6mm;
        
                a {
                    color: variables.$body;
                    text-decoration: underline;
                    font-weight: 800;
                }
            }
        }
        .tech-stack {
            border: 4px solid #d9dbb1;
            padding: 15px;
            margin: 0 1rem;
            h3 {
                color: #4d5e58;
            }
            
            ul {
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;
                    
                li {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px;
                    position: relative;
                    width: 8%;
                    padding: 3px;
        
                    i {
                        font-size: 2rem;
                        color: #f9fbf2;
                        padding-bottom: .5rem;
                    }
                }
            }
        }
        .services {
            border: 4px solid #d9dbb1;
            padding: 20px 70px 70px 50px;
            margin-top: 40px;

            p {
                padding: 20px;
                color: #f8f6f6;
            }

            .service-details {
                border: 4px solid #d9dbb1;
                padding: 0 30px 0 30px;
                margin-top: 20px;
                
                h3 {
                    color: #4d5e58;
                }
                span {
                    font-style: italic;
                }
                
                p {
                    padding: 0 90px 20px 90px;
                }
            }
        }

    }

}


