@use "./variables";

// Source Sans Pro BOLD
@font-face {
    font-family: "Source Sans Pro";
    src: url('../assets/fonts/SourceSans/SourceSansPro-Bold.ttf');
    font-weight: 700;
}

// Sintoy REGULAR
@font-face {
    font-family: "Sintony";
    src: url('../../../assets/fonts/Sintony/Sintony-Regular.ttf');
    font-weight: 400;
}