// COLOURS

// BACKGROUND:
// Header Nav
$header: #8b8bae;

// About
$about: #bbcbcb;

// Skills
$skills: #7698b3;

// Projects
$projects: #b288c0;

// Contact
$contact: #f9fbf2;

// Footer
$footer: #634b66;

//FONT: