// TEXT COLOURS:

    $h1: #dfe2cf;
    $h2purple: #7e5a9b;
    $h2green: #3c504a;
    $h2blue: #395c78;
    $accent:#b322b0;
    $body: #374b4a;
    $body2:#2c4553;
    $button: #dfe2cf;
    $nav-links: #374b4a;
    $nav-links2: #1f4f4d;

// BACKGROUND COLOURS:

    // Header Nav
    $header: #8b8bae;

    // About
    $about: #bbcbcb;

    // Skills
    $skills: #7698b3;

    // Projects
    $projects: #b288c0;

    // Contact
    $contact: #f9fbf2;

    // Footer
    $footer: #634b66;

    // Borders
    $img-border: #8fbdbd;
    $contact-border: #f9c2cb;

// FONTS:

    // Titles
    $title-font: "Source Sans Pro";
    
    // Body/Links
    $body-font: "Sintony";

        