.about {
  margin-bottom: 2rem;
}
.about .wrapper {
  background-color: #8b8bae;
}
.about .about-container h2 {
  color: #7e5a9b;
  margin-top: 0;
  margin-left: 2rem;
  padding-top: 3rem;
}
.about .about-container .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
}
.about .about-container .about-flex img {
  height: 350px;
  width: 350px;
  -o-object-fit: fill;
     object-fit: fill;
  border: 5px solid #8fbdbd;
  margin: 0 2rem 4rem 1rem;
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
}
.about .about-container .about-flex ul li {
  color: #374b4a;
  text-align: left;
  line-height: 8mm;
}
.about .about-container .about-flex ul li a {
  color: #374b4a;
  text-decoration: underline;
}

.contact .wrapper {
  background-color: #f9fbf2;
}
.contact h2 {
  color: #395c78;
  margin-top: 2rem;
  margin-left: 2rem;
}
.contact a {
  margin-top: 3rem;
  margin-left: 0.5rem;
  color: #b322b0;
}
.contact a i {
  font-size: 2rem;
  padding: 0 1rem;
  color: #7e5a9b;
}
.contact a i:hover {
  color: #b322b0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  padding: 0.5rem 0;
}
footer p {
  font-family: "Source Sans Pro";
  color: #b322b0;
  text-shadow: 1px 1px 1px #7e5a9b;
  letter-spacing: 1px;
  padding: 15px 0;
  margin: 5px;
  text-align: center;
}

html {
  font-size: 125%;
}

main, footer {
  background-image: url("/assets/cannabis-background.jpg");
  opacity: 0.8;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(139, 139, 174, 0.8509803922);
          box-shadow: inset 0 0 0 1000px rgba(139, 139, 174, 0.8509803922);
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.75mm;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h2,
h3,
h4 {
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  max-width: 100%;
}

li,
p {
  font-family: "Sintony", sans-serif;
}

p {
  font-size: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  color: #dfe2cf;
  text-transform: uppercase;
  background-color: #7698b3;
  padding: 10px 15px;
  border: 2px solid #7698b3;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #634b66;
  border: 2px solid #634b66;
  color: #f9fbf2;
}
button:focus {
  background-color: #634b66;
  border: 2px solid #634b66;
  color: #f9fbf2;
  border-radius: 5%;
}

fieldset,
input,
textarea {
  border: none;
  background-color: transparent;
  font-family: "Sintony", sans-serif;
}

footer {
  font-weight: 400;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 1901px;
}

.border-bg {
  background-image: url("/assets/cannabis-background.jpg");
  opacity: 0.8;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(139, 139, 174, 0.8509803922);
          box-shadow: inset 0 0 0 1000px rgba(139, 139, 174, 0.8509803922);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-image: url("/assets/cannabis-background.jpg");
  opacity: 0.8;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(139, 139, 174, 0.8509803922);
          box-shadow: inset 0 0 0 1000px rgba(139, 139, 174, 0.8509803922);
  height: 35vh;
}
header .header-text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
header .header-text-flex h1 {
  color: #dfe2cf;
  text-shadow: 2px 2px 2px #7e5a9b;
  margin: 20px 0;
}
header .header-text-flex h1,
header .header-text-flex p {
  text-align: center;
}
header .header-text-flex p {
  font-size: 1.5rem;
  color: #b322b0;
  font-style: italic;
  text-decoration: underline;
  text-underline-position: under;
  font-weight: 800;
  letter-spacing: 1mm;
  text-shadow: 2px 2px 2px #7e5a9b;
}

@media (max-width: 1601px) {
  /* HEADER */
  header nav button {
    margin-top: 1.5rem;
  }
  /* MAIN */
  main .about .about-container .about-flex img.rounded {
    margin-top: 3.5rem;
  }
  main .projects .wrapper {
    width: 90%;
  }
  main .projects .project-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .projects .project-container .project-box {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (max-width: 1401px) {
  .wrapper {
    width: 60%;
  }
  /* HEADER & NAV */
  header button {
    margin-top: 1.5rem;
  }
  /* END header */
  /* MAIN */
  main {
    /* SKILLS */
    /* PROJECT */
    /* CONTACT */
  }
  main .about .wrapper {
    width: 75%;
  }
  main .about .about-container .about-flex img.rounded {
    margin-right: 4rem;
    margin-top: 3rem;
  }
  main .skills .wrapper {
    width: 90%;
  }
  main .skills h2 {
    margin-top: 3rem;
  }
  main .skills ul {
    width: 90%;
  }
  main .projects .wrapper {
    width: 85%;
  }
  main .projects .project-container .project-box .project-content .button-box {
    margin-left: 1rem;
  }
  main .projects .project-container .project-box .project-content .button-box button {
    width: 50%;
  }
  main .contact h2 {
    margin-top: 5rem;
  }
  /* END main */
}
@media (max-width: 1315px) {
  /* MAIN */
  main .projects .project-box h3 {
    margin: 0.5rem;
  }
}
/* TABLET */
@media (max-width: 1100px) {
  /* MAIN */
  main .projects .project-container .project-box h3 {
    font-size: 1rem;
  }
  footer .footer-container button {
    width: 40%;
  }
}
@media (max-width: 1096px) {
  main .about .about-container .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about .about-container .about-flex img {
    margin: auto;
    height: 400px;
    width: 300px;
    margin-bottom: 2rem;
  }
  main .about .about-container .about-flex p {
    text-align: center;
  }
  main .skills .skills-container .tech-stack ul {
    width: 100%;
  }
  main .projects .project-container .project-box {
    height: 27rem;
  }
  main .projects .project-container .project-box h3 {
    font-size: 1rem;
    text-align: center;
  }
  main .projects .project-container .project-box h4 {
    text-align: center;
  }
  main .projects .project-container .project-box p {
    font-size: 0.65rem;
    text-align: center;
  }
}
@media (max-width: 963px) {
  /* MAIN */
  main .projects button {
    font-size: 0.75rem;
  }
}
@media (max-width: 901px) {
  main .projects .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  main .projects .project-container .project-box {
    height: 40rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/* MOBILE */
@media (max-width: 801px) {
  /* HEADER */
  header h2 {
    margin-top: 2rem;
  }
  /* MAIN */
  main .about .about-container .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about .about-container .about-flex img.rounded {
    margin: 0 0 1rem 0;
  }
  main .about .about-container .about-flex p {
    text-align: center;
  }
  main .skills .skills-container .services .service-details p {
    padding: 0 1rem;
  }
  main .projects .wrapper {
    width: 90%;
  }
  main .projects .project-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .projects .project-container .project-box {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    width: 25rem;
  }
}
@media (max-width: 591px) {
  main .skills .skills-container .services .service-details {
    padding: 0 10px 0 10px;
  }
  main .projects .wrapper {
    width: 80%;
  }
  main .projects .project-container .project-box {
    width: 20rem;
    height: 30rem;
  }
  footer .footer-container p {
    font-size: 0.99rem;
  }
  footer .footer-container button {
    width: 50%;
  }
}
@media (max-width: 451px) {
  /* NAV */
  .header-text-flex {
    width: 80%;
    margin-top: 5rem;
  }
  .header-text-flex p {
    font-size: 3rem;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  /* MAIN */
  main .about {
    padding-top: 2rem;
  }
  main .about .about-container h2 {
    padding: 10px 0;
    font-size: 2rem;
  }
  main .about .about-container .about-flex img {
    height: 80%;
    width: 80%;
  }
  main .about .about-container .about-flex ul {
    padding: 10px 30px 10px 30px;
  }
  main .about .about-container .about-flex ul li {
    font-size: 16px;
  }
  main .skills .wrapper {
    width: 80%;
  }
  main .projects .wrapper {
    width: 80%;
  }
  main .projects .project-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  main .projects .project-container .project-box {
    width: 12rem;
  }
  main .contact .wrapper {
    width: 80%;
  }
  main .contact h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  footer p {
    font-size: 14px;
  }
}
.projects {
  margin-bottom: 2rem;
}
.projects .wrapper {
  background-color: #b288c0;
}
.projects h2 {
  color: #395c78;
  margin-top: 4rem;
  margin-left: 2rem;
}
.projects .project-container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects .project-box {
  background-color: #c5a3d0;
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  width: 20rem;
  margin: 1rem;
}
.projects .project-box h3, .projects .project-box p {
  color: #374b4a;
  text-align: center;
}
.projects .project-box h3 {
  margin: 1rem 0 1rem 0;
}
.projects .project-box h4 {
  color: #374b4a;
  text-align: center;
  margin: 0;
}
.projects .project-box p {
  padding: 0 50px;
}
.projects .project-box a {
  font-weight: bold;
  color: #1f4f4d;
}
.projects .project-box .project-content {
  display: flex-column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem;
}
.projects .project-box .project-content h4 {
  font-size: 0.75rem;
}
.projects .project-box .project-content p {
  font-size: 0.75rem;
}
.projects .project-box .project-content .button-box {
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .project-box .project-content .button-box button {
  width: 30%;
  margin-right: 1rem;
  font-family: "Source Sans Pro";
}
.projects .project-box .project-content .button-box button a {
  color: #dfe2cf;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

.skills {
  margin-bottom: 2rem;
}
.skills .wrapper {
  background-color: #7698b3;
}
.skills .skills-container {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.skills .skills-container h2 {
  color: #3c504a;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.skills .skills-container ul {
  margin-bottom: 2rem;
}
.skills .skills-container ul li {
  color: #374b4a;
  text-align: left;
  line-height: 8mm;
}
.skills .skills-container ul li a {
  color: #374b4a;
  text-decoration: underline;
  font-weight: 800;
}
.skills .skills-container .tech-stack {
  border: 4px solid #d9dbb1;
  padding: 15px;
  margin: 0 1rem;
}
.skills .skills-container .tech-stack h3 {
  color: #4d5e58;
}
.skills .skills-container .tech-stack ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: auto;
  padding: 0;
}
.skills .skills-container .tech-stack ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 10%;
  min-width: 10px;
  padding: 5px;
}
.skills .skills-container .tech-stack ul li i {
  font-size: 2rem;
  color: #f9fbf2;
  padding-bottom: 0.5rem;
}
.skills .skills-container .services {
  border: 4px solid #d9dbb1;
  padding: 20px 70px 70px 50px;
  margin-top: 40px;
}
.skills .skills-container .services p {
  padding: 20px;
  color: #f8f6f6;
}
.skills .skills-container .services .service-details {
  border: 4px solid #d9dbb1;
  padding: 0 30px 0 30px;
  margin-top: 20px;
}
.skills .skills-container .services .service-details h3 {
  color: #4d5e58;
}
.skills .skills-container .services .service-details span {
  font-style: italic;
}
.skills .skills-container .services .service-details p {
  padding: 0 90px 20px 90px;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSans/SourceSansPro-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Sintony";
  src: url("../../../assets/fonts/Sintony/Sintony-Regular.ttf");
  font-weight: 400;
}